<div class="container-fluid single-event">
    <div class="card">
        <div class="card-header">
            <h2>{{event.name}}</h2>
        </div>
        <div class="card-body">
            <p>{{ event.description }}</p>
            <p id="event-location">{{ event.location }}</p>
            <p id="event-date">{{ event.event_start }}</p>
            <p>{{ event.event_end }}</p>
            <p>{{ event.cost }}</p>
            <p><a href="{{ event.link }}">{{ event.link }}</a></p>
            <p id="weatherData"></p>
            
        </div>
    </div>
</div>

{{!-- <script src="/js/eventWeather.js"></script> --}}