<div class="container-fluid single-event">
    <div class="card">
        <div class="card-header">
            <h2>{{name}}</h2>
        </div>
        <div class="card-body">
            <p>{{ description }}</p>
            <p>{{ location }}</p>
            <p>{{ event_start }}</p>
            <p>{{ event_end }}</p>
            <p>{{ cost }}</p>
            <p><a href="{{ link }}">{{ link }}</a></p>
            
        </div>
    </div>

</div>